@use "bulma/sass" with ($family-primary: "'Quicksand', sans-serif",
  $family-secondary: 'Patua One',
  $control-border-width: 2px,
  $input-shadow: none,
  $title-family: "'Concert One',sans-serif",
  $subtitle-family: 'Bebas Neue',
  $subtitle-weight: '400',
  $text: black);
@use "bulma/sass/utilities/mixins";

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');