@import '../../stylesheet.scss';

.pretty-border-black {
    border: 2px solid black;
    border-radius: .75rem;
}

.is-max-width-500 {
    max-width: 500px;
}

.rainbow-background {
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 20s linear alternate infinite;
    height: 100vh;
    background-size: 400% 400%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.dark-sky-background {
    background: radial-gradient(circle, #07153a, #07153a, #0f0524, #130a20, #200325, #200325, hsl(223, 69%, 9%));
    animation: animatedgradient 20s ease alternate infinite;
    height: 100vh;
    background-size: 700% 700%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.is-size-0 {
    font-size: 4rem;
}

.main-height {
    height: calc(100vh - 60px);
    overflow: scroll
}

.rotate {
    position: relative;
    top: -10px;
    animation: spin 5s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0);
        scale: .2
    }

    50% {
        scale: .3;
        transform: rotate(180deg);
    }

    100% {
        scale: .2;
        transform: rotate(-180deg);
    }
}

.is-bounce-on-hover svg {
    scale: .6;
}

.is-bounce-on-hover:hover svg {
    opacity: 1;
    animation: bounce 3s ease infinite;
}

@keyframes bounce {
    0% {
        scale: .6
    }

    50% {
        scale: .8;
    }

    100% {
        scale: .6;
    }
}

.navbar-item {
    font-display: "'Concert One',sans-serif";
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

.title {
    text-transform: uppercase;
}